<li>
    <a href="#/feeds/<%= feed.id %>"><%= feed.escape("title") %></a>
    <button class="delete-feed btn" style="background:white;" data-id="<%= feed.id %>"><span class="glyphicon glyphicon-trash"></span></button>
</li>
