<h1>All feeds</h1>
<ul>
    <% feeds.each(function(feed) { %>
    <li>
        <a href="#/feeds/<%= feed.id %>"><%= feed.escape("title") %></a>
        <button class="delete-feed" data-id="<%= feed.id %>">Delete Feed</button>
    </li>
    <% }); %>
</ul>